/* Header.css */

nav {
  background-color: #1e175c;
  color: white;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

a {
  color: white;
  text-decoration: none;
  /* border: 1px solid #fff; */
  padding: 0px 50x;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.active {
  font-weight: bold;
}

button {
  background-color: rgb(15, 96, 16);
  float: right;
  border: none;
  height: 40px;
  width: 80px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(17, 5, 82);
}
